.fuelRow {
  clear: both;
  height: 2rem;
}

.fuelLeft {
  float: left;
}

.fuelRight {
float: right;
  }

.fuelRow:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}

@media only screen and (max-width: 76px) {
  
}

