.boatsPage {
  min-height: 80%;
  text-align: center;
}

.boatsPage .card {
}

.boatsPage .columns {
  flex-wrap: wrap;
}

.boatsPage .section {
  text-align: center;
}

.boatsPage .section p {
  text-align: left;
  text-indent: 1rem;
}


.boats {
  text-align: center;
}

.wellDark {
color: #333;

}

.wellDark blockquote {
  border: none;
}


.leftjust {
  text-align: left;
}

.center {
  text-align: center;
  margin-bottom: 3rem;
}

.hours {
    text-align: center;
    text-indent: 0vh;
}

.lead {
  text-indent: 0vh;
}
@media only screen and (max-width: 76px) {
  .logo {
    text-align: center;
    width: 70%;
    margin: auto;
    margin-bottom: 5rem;
  }

  .lmbrMap {
    max-width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 500px) {
  .jumbotron {
    padding-left: 0px;
    padding-right: 0px;
    background-color: initial;
    text-align: center;
  }
  .well {
    text-align: justify;
  }
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .hours {
    text-align: center;
    text-indent: 0vh;
  }
  .well {
    text-align: unset;
  }
}

.centered {
  text-align: center;
}

.location {
  padding-top: 19px;
  text-align: center;
  text-indent: 0vh;
}

.location  p {
  text-indent: 0vh;
}

.wellHeader {
  text-align: center;
}

.fa {
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    text-indent: 0vh;
    padding: 2rem;
}

i:hover{
    text-decoration: none;
 
}

.socialMedia:hover {
    text-decoration: none;
}

.socialMedia {
  text-align: center;
}

.faceBook {
  padding: 0rem;
}

.socialMedia li {
  list-style: none;
  display: inline-block;
}


.lmbrMap {
  margin-bottom: 2rem;
  max-width: 80%;
}

.prettyButtons {
  max-width: 400;
  margin: 0 auto 10px;
}

.boatCard {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-out;
}

.boatCard:hover, .boatCard:active {
 box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
 transform: translateY(-5px);
}


.boatCard .card-image {
  opacity: 1;
  transition: all 0.4s ease-out;
}

.boatCard .card-image:hover, .boatCard .card-image:active {
  opacity: .75;
}



.withSpace {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.leftAlign {
  text-align: left;
  text-indent: 1rem;
}
