@import '../../bulmaVars.scss';

.hero h1 {
  font-size: 6rem;
}

.hero {
  text-align: center;
  overflow: hidden;
}

.hero.is-primary{
  background-color: transparent !important;
}

.heroImgBig .heroImg{
  filter: blur(0px);
  overflow: hidden;
height: calc(90vh - 1vw );
transition: all .75s;
background-size: cover;
background-color: #000;
}

@media only screen and (max-width: 767px) and (orientation: portrait){
  .heroWrapper{
height: calc(90vh - 10vw );
}
}


.heroImg {
  overflow: hidden;
//height: 90vh;
filter: blur(20px);
background-size: cover;

}
.hero .is-primary {

}


@keyframes
low-quality { 0% {
    background-image: url(/img/landingImg-50px.jpg);
    filter: blur(20px);
  }
  100% {
    background-image: url(/img/landingImg-50px.jpg);
    filter: blur(5px);
  
  }
}

@keyframes
hd-quality { 0% {
    background-image: url(/img/newHero-lg_1x.jpg);
    filter: blur(20px);
  }
  100% {
    background-image: url(/img/newHero-lg_1x.jpg);
    filter: blur(0px);
  }
}

.hero .title {
 text-shadow: #363636 5px 4px 5px;
}

.heroWrapper {
  max-height: 93vh;
  //min-height: 90vh;
}

.title {
  z-index: 99999;
}


.hero-body {
  max-height: 95vh;
  overflow: hidden;
}

.hero .is-primary {
  background-color: none !important;
}

.hero-body .title {
  text-align: center;
  opacity: 1;
}


@media only screen and (max-width: 1000px) {
  .heroWrapper {
    max-height: 95vh;
  }

  .heroImg {
    max-height: 95vh;
  }
}

@media only screen and (max-width: 385px) {
  .hero-body .title {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 372px) {
  .hero-body .title {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 318px) {
  .hero-body .title {
    font-size: 4.5rem;
  }
}
