@import '../../bulmaVars.scss';

.hero h1 {
  font-size: 6rem;
}

.hero {
  text-align: center;
  overflow: hidden;
}

.heroImg {
  overflow: hidden;
height: 93vh;
filter: blur(20px);
background-size: cover;
background-color: #2626ff;
animation: hd-quality 1s;
animation-delay: 3s;
animation-fill-mode: forwards;
}

.hero .is-primary {

}

.heroImg::after {
  animation: low-quality 1s;
  animation-delay: 1s
}

@keyframes
low-quality { 0% {
    background-image: url(/img/landingImg-50px.jpg);
  }
}

@keyframes
hd-quality { 0% {
    background-image: url(/img/newHero-lg_1x.jpg);
    filter: blur(20px);
  }
  100% {
    background-image: url(/img/newHero-lg_1x.jpg);
    filter: blur(0px);
  }
}

.hero .title {
 text-shadow: #363636 5px 4px 5px;
}

.heroWrapper {
  max-height: 93vh;
  min-height: 90vh;
}

.title {
  z-index: 99999;
}


.hero-body {
  max-height: 95vh;
  overflow: hidden;
}

.hero .is-primary {
  background-color: none !important;
}

.hero-body .title {
  text-align: center;
  opacity: 1;
}


@media only screen and (max-width: 1000px) {
  .heroWrapper {
    max-height: 95vh;
  }

  .heroImg {
    max-height: 95vh;
  }
}

@media only screen and (max-width: 372px) {
  .hero-body .title {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 318px) {
  .hero-body .title {
    font-size: 4.5rem;
  }
}
