@import '../../bulmaOverride.scss';

.hero h1 {
  font-size: 6rem;
}

.hero {
  text-align: center;
  max-height: 80vh;
}

.heroImg {
  max-height: 80vh;

}

.hero .title {
 text-shadow: #000 3px 2px 0;
}

.heroWrapper {
  max-height: 93vh;
}

.title {
  z-index: 99999;
}


.hero-body {
  max-height: 90vh
}

.hero-body .title {
  text-align: center;
  opacity: 1;
}





