@import '../../bulmaVars.scss';

.home {

}

@media only screen and (min-width: 1000px) {

  .lmbrMap {
    width: 80%;
    max-width: 80%;
    margin: auto;
    display: block;
  }

  .map img {
  }
  .homeDescrip {
    margin: auto;
    margin-bottom: 4rem;
  }
  .homeSlug {
    max-width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5rem !important;
  
  }
  .boatButtons button {
    max-width: 50%;
  }

  .homeLogo {
    width: 30%;
  }

}

@media only screen and (max-width: 1000px) {
  .homeLogo {
    width: 40%;
  }

  .boatButtons button {
    max-width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .homeLogo {
    width: 60%;
  }

  .boatButtons button {
    max-width: 85%;
  }
}

@media only screen and (max-width: 450px) {
  .homeLogo {
    width: 80%;
  }
  .boatButtons button {
    max-width: 90%;
  }
}

.homeLogo {
  text-align: center;
}

.homeSlug {
  height: 10rem;
}

.homeSlug>div {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeSlug div p {
  vertical-align: middle;
}

.lmbrMap {
   border-radius: 10px;
  -webkit-box-shadow: 5px 8px 15px -5px rgba(66,65,69,1);
-moz-box-shadow: 5px 8px 15px -5px rgba(66,65,69,1);
box-shadow: 5px 8px 15px -5px rgba(66,65,69,1);

  margin: auto;
}

.prettyButtons {
  max-width: 400;
  margin: 0 auto 10px;
  display: inline-grid;
}

.landingTitle {
  text-align: center;
}

.home  .section {
  text-align: center;
}

.boatButtons button{
  width: 100%;
}

.boatButtons {
  text-align: center;
}
.boatButtons a {
  padding: 0.5rem;
  display: block;
}


.homeNumber {
  padding-top: 1rem;
  padding-bottom: 3rem;
  font-size: 2rem;
}

.homeNumber a:hover {
  color: $blue;
}


.boatButtons {
  display: block;
}

.homeDescrip p {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: bold;
}

.hours {
  font-weight: bold;
  font-size: 2rem;
}

.map .section {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.map h4 {
  padding-bottom: 2rem;
  font-weight: bold;
}

.home .section {
  padding-bottom: 0rem;
}

.forRent .card {
  border-radius: 10px;

}

.boatCard  {
  border-radius: 10px;
  -webkit-box-shadow: 5px 8px 15px -5px rgba(66,65,69,1);
-moz-box-shadow: 5px 8px 15px -5px rgba(66,65,69,1);
box-shadow: 5px 8px 15px -5px rgba(66,65,69,1);

}

.forRent .section {
  padding-top: 0rem;
}

.forRent h2 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
}

.homePage p {
  text-align: left;
  text-indent: 1rem;
}

.message .message-body {
  padding-bottom: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}


.hero h1 {
  font-size: 6rem;

}


.column .is-hidden-mobile {
  padding-top: 5rem;
}

.homeImg {
  margin: auto;
}
