@import '../../bulmaVars.scss';

.tabs ul {
  background-image: linear-gradient(to top, #8585FF 0%, #2626FF 100%)
}

.active {
  background-color: blue;
}

.tabs a:hover {
  color: #fff;
}

.header {
  text-align: center;
}

.header  a {
  color: white;
}

.ulNav {
  margin-top: 1rem;
}

@media only screen and (min-width: 1200px) {
  #navBarbig li{
    flex-grow: .1
  }
}

#noscroll {
  overflow-x: hidden;
}

#noscroll a {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

a:hover {
  background-color: $dark-blue;
}

a:focus {
  background-color: $dark-blue;

}

.tabs {
  box-shadow: 0px 2px 15px 2px;
  opacity: .98;
}

.appBar {
  padding-bottom: 5rem;
}

.is-sticky {
  padding-bottom: 3rem;
}
