@import '../../bulmaVars.scss';

.tabs .navTabs {
  width: 100%;
//  background-image: linear-gradient(to top, $blue  0%, $light-blue 100%)
//background: -webkit-linear-gradient(24deg, transparent, rgb(0, 0, 152), rgb(38, 38, 255));
//background: linear-gradient(24deg, transparent, rgb(0, 0, 152), rgb(38, 38, 255));
background-position: -3rem 0rem !important;
background: radial-gradient(ellipse farthest-corner, $dark-blue 30%, $base-blue);
border-bottom: none !important;

}

.tabs a{
  border-bottom: none !important;
}

.tabs .active  {
  border-bottom: 5px solid white !important;
  transition: transform 0.5s;
}

@media only screen and (min-width: 900px) {
  .tabs a:hover  {
    border-bottom: 5px solid white !important;
    transition: transform 0.5s;
  }

  .tabs a:after {
     position: absolute;
    border-bottom: 5px solid white !important;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #fff;
  height: 1px;
  }

  .tabs a:hover {
    width: 100%;
  }
}

.active {
}

.tabs a:hover {
  color: #fff;
}

.header {
  text-align: center;
}

.header  a {
  color: white;
}

.ulNav {
  margin-top: 1rem;
}

@media only screen and (min-width: 1200px) {
  #navBarbig li{
    flex-grow: .1
  }
}

#noscroll {
  overflow-x: hidden;
}

#noscroll a {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

a:hover {
  background-color: none;
}

a:focus {
  background-color: none;

}


.tabs {
  box-shadow: 0px 2px 36px 2px;
  opacity: .60;
}

.appBar {
  padding-bottom: 3rem;
}

.is-sticky {
  padding-bottom: 3rem;
}

.hero-foot {
}
