.regalTitle {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid gray;
}

.boatLeft {
  float: left;
}

.boatRight {
  float: right;
}

.boatRates {
}

.ratesRow {
  clear: both;
}

.ratesRow:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}

.boatsidebar {
  margin-top: 6rem;
}

.boat {
  overflow: auto;
  transition: transform 0.5s, opacity .5s;

  &.transition-appear {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  &.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  &.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  &.transition-leave.transition-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.singleBoatImg {
   -webkit-box-shadow: 5px 8px 15px -5px rgba(66,65,69,1);
-moz-box-shadow: 5px 8px 15px -5px rgba(66,65,69,1);
box-shadow: 5px 8px 15px -5px rgba(66,65,69,1);
border-radius: 10px;
}
