@import '../../bulmaVars.scss';


.footer {
  text-align: center;
  color: #fff;
  box-shadow: 0px -2px 15px 2px rgba(74, 74, 74, 1);
  background: -webkit-linear-gradient(24deg, rgb(0, 0, 152), rgb(38, 38, 255));
background: linear-gradient(24deg, rgb(0, 0, 152), rgb(38, 38, 255));

}


.footer a {
  color: #fff;
}

.footUl {
  display: inline-block;
  float: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footUl li {
  float: left;
  display: block;
  position: relative;
}

.rowBehave {
  margin-top: 1rem;
}



.footUl i {
  padding: unset;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2.6rem;
}

@media only screen and (min-width: 767px) {
}
