.boatssidebar {
  margin-top: 6rem;
   border-radius: 10px;

}


@media only screen and (min-width: 767px) {
.boatssidebar {
  -webkit-box-shadow: 5px 8px 15px -5px rgba(66,65,69,1);
-moz-box-shadow: 5px 8px 15px -5px rgba(66,65,69,1);
box-shadow: 5px 8px 15px -5px rgba(66,65,69,1);

}

}

.is-centered {
  text-align: center;
  display: block;
}

.is-indent {
  text-indent: 1rem;
}
