.policies {
  text-align: center;
}

.policies  p{
  text-align: left;
  text-indent: 1rem;
}

.left {
  text-align: left;
}

.left li {
  padding-top: .3rem;
  padding-bottom: .3rem;

}

.left li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.03);

}

.titleSpace {
  margin-top: 4rem;
}
