
.App {
  text-align: center;

}


/*CSS Grid Definition*/

.header {
  height: 4rem;
}

.content {
  text-align: center;
}

.content > img {
  max-width: 80%;
}

.footer {
}

.main-wrapper {
  background: #C2C2F2;
}

.home {
}
