@import 'bulma/sass/utilities/initial-variables.sass';
@import 'bulma/sass/utilities/functions.sass';
@import '../node_modules/animate-sass/animate';

$base-blue:#2626FF;
$blue: $base-blue;
$dark-blue: #000098;
$light-blue: #8585FF;
$primary: $base-blue;
$text-blue: #A9DAFF;


/*Set Typeface */
$family-serif: "Merriweather", "Georgia", serif;

/*Nav Tabs variables*/
$tabs-border-bottom-color: $light-blue;
$tabs-link-active-color: #fff;
$tabs-link-hover-color: #fff;
$tabs-link-color: #fff;
$tabs-link-hover-border-bottom-color: $light-blue;

/*Footer vars */
$footer-background-color: $base-blue;

.section {
  padding-top: 3rem;
  margin-top: 3rem;
}
.button.is-primary {
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.button.is-primary:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  color: #fff;
  transform: translateY(-5px);
}

body * {
  font-family: "vista-slab", serif;
  font-style: normal;
  font-weight: 200;
}

.card {
  box-shadow: none !important;
  border-radius: 10px;
}

.card .card-header p{
  text-align: center;
}

.card-content {
  display: block;
}

.card-header{
display: block;
}
.card-header-title{
  text-align: center;
  display: block;
}


.react-swipeable-view-container div{
  overflow: hidden !important;
}

body {
  position: relative;




}

#root {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;


  background-color: #ffffff;
background-image: url("/img/dust_scratches.png");
}


html { height: 100%; overflow:auto; }
body { height: 100%; }


h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

@media only screen and (max-width: 1000px) {
  body {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.7;
}
}
@import 'bulma/bulma.sass';
