@import 'bulma/sass/utilities/initial-variables.sass';
@import 'bulma/sass/utilities/functions.sass';
@import '../node_modules/animate-sass/animate';
/*Set Colors*/
$base-blue: #2626FF;
$blue: $base-blue;
$dark-blue: #000098;
$light-blue: #8585FF;
$primary: $base-blue;
$text-blue: #A9DAFF;

/*Set Typeface */
$family-serif: "Merriweather", "Georgia", serif;

/*Nav Tabs variables*/
$tabs-border-bottom-color: $light-blue;
$tabs-link-active-color: #fff;
$tabs-link-hover-color: #fff;
$tabs-link-color: #fff;
$tabs-link-hover-border-bottom-color: $light-blue;

/*Footer vars */
$footer-background-color: $base-blue;

.section {
  padding-top: 3rem;
  margin-top: 3rem;
}
.button.is-primary {
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.button.is-primary:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  color: #fff;
  transform: translateY(-5px);
}

body * {
  font-family: "vista-slab", serif;
  font-style: normal;
  font-weight: 200;
}

.card {
  border-radius: 5px;
  box-shadow: none !important;
}

.card-header {
  box-shadow: none !important;
}

.card-header p{
display: block;
}
.card-header-title p{
  text-align: center;
  display: block;
}

@import 'bulma/bulma.sass';

.react-swipeable-view-container div{
  overflow: hidden !important;
}

