body {
  position: relative;


font-weight: bold;


}

#root {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;


  background-color: #ffffff;
background-image: url("/img/dust_scratches.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


body {
  font-family:  sans-serif;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
body, html {
  height: 100%;
}
html { height: 100%; overflow:auto; }
body { height: 100%; }

body {

}

.boxedShadow {
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}
