body {
  position: relative;




}

#root {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;


  background-color: #ffffff;
background-image: url("/img/dust_scratches.png");
}


html { height: 100%; overflow:auto; }
body { height: 100%; }


h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

@media only screen and (max-width: 1000px) {
  body {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.7;
}
}
